<!DOCTYPE html>
<html lang="en">
<%- include('../shared/header', {page_title:"believe"}) %>

<body class="defaultColor">
  <div class="container-fluid">
    <%- include('../shared/navbar', {page_name:"believe"}) %>

    <div class="row">
      <div class="col-4">
        <img style="display: block; margin: 0 auto;"
          src="/images/Believe/PhotoInside.jpg"
          class="pl-3 img-fluid" alt="" />
      </div>
      <div class="col-8">
        <p class="col-12 pageText">
          Expedita et quia animi dignissimos. Ipsam architecto ut mollitia architecto non qui tempore nemo accusamus.
          Quod
          veritatis deleniti et atque.
          Tempora alias dolorum cumque dolores non voluptatem velit et. At quo ut
          necessitatibus molestiae velit aut et quia. Ea saepe dolor eum saepe et corrupti ipsa molestiae. Qui ut esse
          sit sit eos.
          Eius excepturi exercitationem sequi soluta doloremque autem nisi. Sed sunt dolorem officiis nemo ipsa. Rerum a
          suscipit ea et at.
          Non enim expedita debitis facilis et sapiente. Expedita sint aut voluptatem temporibus ad voluptatem. Dolorem
          itaque eligendi reiciendis aperiam laudantium sequi qui.
        </p>
      </div>
    </div>
    <%- include('../shared/footer', {page_title:"believe"}) %>
  </div>
</body>

</html>