<!DOCTYPE html>
<html lang="en">

<%- include('../shared/header', {page_title:"experience"}) %>

<%- include('../shared/navbar', {page_title:"experience"}) %>

<body class="defaultColor">
  <div class="container-fluid">


  </div>
  <div class="row mx-auto" style="min-width: 30rem; padding: 1rem 12rem;">
    <!-- TODO: make this responsive -->
    <p class="col-12 h4 mx-auto text-center">
      Expedita et quia animi dignissimos. Ipsam architecto ut mollitia architecto non qui tempore nemo accusamus. Quod
      veritatis deleniti et atque.
      Tempora alias dolorum cumque dolores non voluptatem velit et. At quo ut
      necessitatibus molestiae velit aut et quia. Ea saepe dolor eum saepe et corrupti ipsa molestiae. Qui ut esse sit
      sit eos.
      Eius excepturi exercitationem sequi soluta doloremque autem nisi. Sed sunt dolorem officiis nemo ipsa. Rerum a
      suscipit ea et at.
      Non enim expedita debitis facilis et sapiente. Expedita sint aut voluptatem temporibus ad voluptatem. Dolorem
      itaque eligendi reiciendis aperiam laudantium sequi qui.
    </p>
  </div>
  <div class="row mx-auto" style="min-width: 30rem; padding: 1rem 12rem;">
    <!-- TODO: make this responsive -->
    <p class="col-12 h4 mx-auto text-center">
      Expedita et quia animi dignissimos. Ipsam architecto ut mollitia architecto non qui tempore nemo accusamus. Quod
      veritatis deleniti et atque.
      Tempora alias dolorum cumque dolores non voluptatem velit et. At quo ut
      necessitatibus molestiae velit aut et quia. Ea saepe dolor eum saepe et corrupti ipsa molestiae. Qui ut esse sit
      sit eos.
      Eius excepturi exercitationem sequi soluta doloremque autem nisi. Sed sunt dolorem officiis nemo ipsa. Rerum a
      suscipit ea et at.
      Non enim expedita debitis facilis et sapiente. Expedita sint aut voluptatem temporibus ad voluptatem. Dolorem
      itaque eligendi reiciendis aperiam laudantium sequi qui.
    </p>
  </div>
  <div class="row mx-auto" style="min-width: 30rem; padding: 1rem 12rem;">
    <!-- TODO: make this responsive -->
    <p class="col-12 h4 mx-auto text-center">
      Expedita et quia animi dignissimos. Ipsam architecto ut mollitia architecto non qui tempore nemo accusamus. Quod
      veritatis deleniti et atque.
      Tempora alias dolorum cumque dolores non voluptatem velit et. At quo ut
      necessitatibus molestiae velit aut et quia. Ea saepe dolor eum saepe et corrupti ipsa molestiae. Qui ut esse sit
      sit eos.
      Eius excepturi exercitationem sequi soluta doloremque autem nisi. Sed sunt dolorem officiis nemo ipsa. Rerum a
      suscipit ea et at.
      Non enim expedita debitis facilis et sapiente. Expedita sint aut voluptatem temporibus ad voluptatem. Dolorem
      itaque eligendi reiciendis aperiam laudantium sequi qui.
    </p>
  </div>
  <%- include('../shared/footer', {page_title:"experience"}) %>
</body>

</html>