<!DOCTYPE html>
<html lang="en">

<%- include('../shared/header', {page_title:"getInTouch"}) %>

<body class="defaultColor">
  <div class="container-fluid">
    <div class="container-fluid">
      <%- include('../shared/navbar', {page_name:"getInTouch"}) %>
    </div>
    <div class="row" style="padding-top: 7rem;">

      <div class="col-4 px-5 thumb-post">
        <a href="./getToKnow.html" title="">
          <img class="img-fluid"
            src="https://www.alphashooters.com/wp-content/uploads/2019/01/sony-sel85f18-gsd-puppy-DSC00116-1300px.jpg" />
          <div class="carousel-caption" style="padding-left: 50%;">
            <h3>get to know me</h3>
          </div>
        </a>
      </div>
      <div class="col-4 px-5 thumb-post">
        <img class="img-fluid" src="https://live.staticflickr.com/7200/6832648466_76b561bcf6_b.jpg" />
        <div class="carousel-caption" style="bottom: 80%;">
          <h3>example text</h3>
        </div>
      </div>
      <div class="col-4 px-5 thumb-post">
        <a href="#" title=""><img class="img-fluid"
            src="https://live.staticflickr.com/7200/6832648466_76b561bcf6_b.jpg" />
          <div class="carousel-caption">
            <h3>resume</h3>
          </div>
        </a>
      </div>
    </div>
  </div>

  <%- include('../shared/footer', {page_title:"getInTouch"}) %>

</body>

</html>