<!DOCTYPE html>
<html lang="en">
  <%- include('./shared/header', {page_title:"home"}) %>

  <!-- TODO: firebase serve --only functions,hosting -->
  <!-- TODO: Model it like this https://www.rebekah-joan.com/ -->

  <body class="bgDefaultColor">
    <div class="container-fluid">
      <div class="row" style="padding-top: 7rem;">
        <!-- ## Get To Know -->
        <div class="col-lg-6 col-md-12 mb-4">
          <a
            href="./getToKnow"
            title=""
            class="linkContainer embed-responsive embed-responsive-16by9"
          >
            <img
              class="img-fluid embed-responsive-item"
              src="/images/GetToKnowMe/CoverPhoto.JPG"
            />
            <div class="linkText" style="padding-left: 50%;">
              <h3>get to know me</h3>
            </div>
          </a>
          <div class="row">
            <!-- ## Get In Touch -->
            <div class="col-6 thumb-post">
              <a href="#" class="linkContainer embed-responsive embed-responsive-4by3">
                <img
                  class="img-fluid embed-responsive-item"
                  src="/images/GetInTouch/CoverPhoto_2.jpg"
                />
                <div class="linkText" style="bottom: 80%;">
                  <h3>get in touch</h3>
                </div>
              </a>
            </div>
            <!-- ## Resume -->
            <div class="col-6 thumb-post">
              <a
                href="./resume"
                title=""
                class="linkContainer embed-responsive embed-responsive-4by3"
              >
                <img
                  class="img-fluid embed-responsive-item"
                  src="/images/Resume/CoverPhoto_(1).jpg"
                />
                <div class="linkText">
                  <h3>resume</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-4">
          <div class="row">
            <!-- ## Believe -->
            <div class="col-6 thumb-post">
              <a
                href="./believe"
                title=""
                class="linkContainer embed-responsive embed-responsive-4by3"
              >
                <img
                  class="img-fluid embed-responsive-item"
                  src="/images/Believe/CoverPhoto_(2).jpg"
                />
                <div class="linkText">
                  <!--TODO: Move to the bottom  right corner as with all captions / linksP-->
                  <h3>what i believe</h3>
                </div>
              </a>
            </div>
            <!-- ## Contact Me -->
            <div class="col-6 thumb-post">
              <a
                href="#"
                title=""
                class="linkContainer embed-responsive embed-responsive-4by3"
              >
                <img
                  class="img-fluid embed-responsive-item"
                  src="https://live.staticflickr.com/7200/6832648466_76b561bcf6_b.jpg"
                />
                <div class="linkText">
                  <h3>contact me</h3>
                </div>
              </a>
            </div>
          </div>
          <!-- ## Photography -->
          <a href="#" title="" class="linkContainer embed-responsive embed-responsive-16by9">
            <img
              class="img-fluid embed-responsive-item"
              src="/images/Photography/CoverPhoto.JPG"
            />
            <div class="linkText" style="padding-left: 50%;">
              <h3>photography</h3>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="/__/firebase/7.11.0/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="/__/firebase/7.11.0/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <!-- <script src="/__/firebPase/7.11.0/firebase-auth.js"></script> -->
    <script src="/__/firebase/7.11.0/firebase-storage.js"></script>

    <footer class="container-fluid">
      <p>Footer Text</p>
    </footer>
  </body>
</html>
